@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@font-face {
  src: url("font/nintendoid-1.otf/nintendoid-1.otf");
  font-family: retro;
}

*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0px;
  margin: 0px;
}

body {
  color: #c7c7c7;
  min-height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
}

main {
  position: absolute;

  min-height: 100%;
  min-width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2% 1.5%;
  z-index: 1;
  background: #000000;
  opacity: 0.8;
}

canvas {
  position: fixed;
  background-color: rgb(0, 0, 0);
  z-index: -1;
}

.project-title {
  color: rgb(194, 193, 193);
  margin-bottom: 5em;
  font-size: 2.3rem;
  font-family: retro;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.5),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.5),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.5);
  position: relative;
  animation: glitch 700ms infinite;
  box-shadow: 1px 5px 3px 2px rgb(194, 182, 182);
  border-radius: 5px;
}

.project-title span {
  color: #c7c7c7;
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  z-index: 0;
}

.glitch span:first-child {
  animation: glitch 550ms infinite;
}
.glitch span:last-child {
  animation: glitch 300ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.5),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.5),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.5);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.5),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.5),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.5);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.5),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.5),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.5);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.5),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.5),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.5);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.5),
      0.05em 0 0 rgba(0, 255, 0, 0.5), 0 -0.05em 0 rgba(0, 0, 255, 0.5);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.5),
      0.05em 0 0 rgba(0, 255, 0, 0.5), 0 -0.05em 0 rgba(0, 0, 255, 0.5);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.5),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.5),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.5);
  }
}

.nav li {
  display: inline-block;
  padding: 0px 50px;
  font-family: "VT323";
  font-size: 1.5rem;
}
.nav li a {
  color: rgb(255, 232, 223);
  text-decoration: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.nav ul li a:hover {
  text-shadow: 0.3em 0 0 #b00000, -0.1em -0.1em 0 #00731b, 0.05em 0.1em 0 blue;
  animation: glitch 400ms infinite;
}
.button {
  padding: 8px 17px;
  border: none;
  border-radius: 0px;
  text-decoration: none;
  color: rgb(240, 240, 240);
  transition: all 0.3s ease 0s;
  background-color: rgb(0, 0, 0);
  font-family: "VT323";
  font-size: 1.5rem;
  border: 1px rgb(189, 70, 24) solid;
  border-radius: 18px;
}
.button:hover {
  border: 1px rgb(225, 225, 225) solid;
  color: rgb(255, 255, 255);
  text-shadow: 0.3em 0 0 #b00000, -0.1em -0.1em 0 #00731b, 0.05em 0.1em 0 blue;
  animation: glitch 400ms infinite;
}

.intro {
  margin: 12%;
  text-align: left;
  font-size: 2rem;
  font-family: "VT323";
  word-spacing: 4px;
  opacity: 0.7;
  color: rgb(255, 255, 255);
}

.grid {
  margin-top: 10%;
  text-align: center;
  display: grid;
  align-items: center;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.grid a {
  text-decoration: none;
  color: #ffffff;
}
.grid li {
  font-size: 1.4rem;
  font-family: retro;
  word-spacing: 0.2rem;
  list-style-type: none;
  display: block;
  transition: all 0.3s ease-out 0s;
  margin-bottom: 4em;
  text-shadow: 0.3em 0 0 #b00000, -0.1em -0.1em 0 #00731b, 0.05em 0.1em 0 blue;
  animation: glitch 400ms infinite;
}
.grid li:hover {
  transform: scale(1.2);
}

.img,
.img1,
.img2,
.img3 {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25%;
  box-shadow: 20px 20px 5px 1px rgb(0, 0, 0) inset;
}

.img {
  background-image: url("./Img/Screenshot\ \(8\).png");
}

.img1 {
  background-image: url("./Img/Screenshot\ \(9\).png");
}
.img2 {
  background-image: url("./Img/Screenshot\ \(4\).png");
}
.img3 {
  background-image: url("./Img/Screenshot\ \(3\).png");
}
.Github a {
  font-family: retro;
  font-size: 0.7rem;
  color: #cdcdcd;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  background-color: #2e0874;
  border-radius: 10%;
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.Github a:hover {
  background-color: #650000;
}
.Github {
  margin-left: 12.4%;
  margin-bottom: 5%;
}
.title_contact {
  color: #c7c7c7;
  text-align: center;
  padding: 10%;
  font-family: retro;
}

form {
  color: #eeeded;
  font-family: retro;
  font-size: 0.7em;
}

.grid_container {
  margin-top: 2rem;
  margin-left: 1rem;
}
.form_section {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

input,
textarea {
  margin: 5px;
  padding: 5px;
  display: block;
  border-radius: 5px;
}

.submit {
  font-family: retro;
  border-radius: 5px;
  padding: 0.4rem 0.7rem;
  color: #c7c7c7;
  border: none;
  background-color: #be0e0e;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
}

.submit:hover {
  background-color: #650000;
}
.email:hover {
  background-color: #650000;
}
.email {
  padding: 0.4em;
  position: absolute;
  bottom: 10%;
  left: 10%;
  background-color: #2e0874;
  border-radius: 5px;
}
.email a {
  color: #d6d6d6;
  text-decoration: none;
  font-family: retro;
  font-size: 0.7rem;
}
.table_wrapper {
  margin-top: 50px;
  font-family: "VT323";
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
table {
  margin: 0 auto;
}
.table_title {
  text-align: center;
  padding: 3rem;
  font-size: 2.2rem;
}

th {
  background-color: #210e4a;
  padding: 1rem;
  margin: 10px;
  font-size: 2rem;
}
tr {
  background-color: #000000;
  margin: 10px;
}
td {
  padding: 2rem;
  font-size: 1.6rem;
}
.skills_wrapper {
  font-family: "VT323";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skills_wrapper ul {
  display: flex;
  margin: 0 auto;
}
.skills_wrapper li {
  font-size: 1.6rem;
  list-style: none;
}

.skill-item {
  margin: 10px;
  padding: 10px;
  border: 2px solid #201a1a;
  border-radius: 5px;
  background-color: #210e4a;
  text-align: center;
}
.skills_title {
  text-align: center;
  padding: 3rem;
  font-size: 2.2rem;
}
.logos {
  position: absolute;
  left: 5%;
  top: 40%;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 11px 37px;
  background-image: url("./Img/alkousa-logo.png");
  border: 2px solid #201a1a;
  border-radius: 15px;
}
